ul.social-network{
    list-style: nome;
    padding: 0;
}
ul.social-network li{
    display:inline;
    margin:0;
    padding: 5px;
}
.fa{
    font-size:35pt;
    color: white;
    padding: 10px;
}
.fa-facebook-official:hover{
    color: #3b5998;
}
.fa-instagram:hover{
    color:rgb(245, 86, 187)
}
.fa-linkedin-square:hover{
    color: #0072b1
}



