#img-bg{
    background-image: url('https://1.bp.blogspot.com/-ct-XfK9oVhw/YK23emAU6TI/AAAAAAAAe3M/7LFo1JySOi4lNo0FtTW-D4MEeKtcEdEBQCLcBGAsYHQ/s748/51198774232_5f040fcb43_o.jpg');
min-height:695px;
background-position: center;
background-repeat:no-repeat ;
background-size: cover;
}
