#img-bg{
    background-image: url('https://i.pinimg.com/736x/a4/26/c3/a426c3cf21409f113598d3b59a73b1ca--realm-closer.jpg');
min-height:695px;
background-position: center;
background-repeat:no-repeat ;
background-size: cover;
}
